@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Unbounded', cursive;
	background: #f8f8f8;
}

.container {
	width: 1340px;
	margin: 0 auto;
}
